 /* RESET DAS CONFIGURAÇÕES DO NAVEGADOR */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #5548;
  
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    font-family: "Comic Sans MS";
}
.index {
    background-image: url("assets/images.jpg"); 
}

.segunda-pagina {
    background-image: url("assets/images.jpg"); 
}

.terceira-pagina {
    background-image: url("assets/carro.jpg"); 
    


    
}
   
h2 {
    text-align: center;
    font-size: 60px;

}


p {
    text-align: justify;
    font-size: 23px;
    margin: 30px 100px ;
}

a {
    display: block;
    text-align: center;
    text-decoration: none;

}

img { 
    display: block;
    max-width: 300px ;
    margin: 10px auto;

}

button { 
    display: block;
    margin: 20px auto;
    cursor: pointer;
    padding: 10px 29px;
    font-size: 13px;
    border-radius: 20px;

}

ol {
    font-size: 23px  auto;
    text-align: center;
    list-style-position: inside;
    
}

li {
    font-size: 15px;
    font-weight: bold;
    color: black;
}
.cor li {
  color: rgb(206, 55, 55);
}


